* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

h1 {
    text-align: center;
    margin-top: 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 4.5rem;
    color: white;
}

.paccontainer {
    /* border: solid; */
    height: 70vh;
    display: flex;
    align-items: center;
}

.pacmanbody {
    background-color: yellow;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-left: 420px;
    animation: move 5s infinite;
}

.pacbg{
    background-color: black;
    z-index: 1;
    border-radius: 50%;
}


.paceye {
    background-color: black;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    position: relative;
    top: 36px;
    left: 90px;
}

.pacmouth {
    background-color: black;
    height: 140px;
    width: 160px;
    position: relative;
    right: 8px;
    clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
    animation: eat 1s infinite;
}

.foodofpac {
    position: absolute;
    width: 17px;
    height: 17px;
    background: white;
    border-radius: 50%;
    top: 382px;
    left: 600px;
    animation: blink 1s infinite;
}

.foodofpac1{
    position: absolute;
    width: 17px;
    height: 17px;
    background: white;
    border-radius: 50%;
    top: 382px;
    left: 750px;
    animation: blink 1s infinite;
}

.foodofpac2{
    position: absolute;
    width: 17px;
    height: 17px;
    background: white;
    border-radius: 50%;
    top: 382px;
    left: 900px;
    animation: blink 1s infinite;
}

.foodofpac3{
    position: absolute;
    width: 17px;
    height: 17px;
    background: white;
    border-radius: 50%;
    top: 382px;
    left: 1050px;
    animation: blink 1s infinite;
}

@keyframes move {
    
    0% {
        margin-left: 420px;
    }
    100% {
        margin-left: 980px;
    }
}

@keyframes blink {
    0% {
        opacity:1 ;
    }

    100% {
        opacity: 0;
    }

}

@keyframes eat {
    0% {
        clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
    }

    25% {
        clip-path: polygon(100% 60%, 44% 48%, 100% 40%);
    }

    50% {
        clip-path: polygon(100% 50%, 44% 48%, 100% 50%);
    }

    75% {
        clip-path: polygon(100% 59%, 44% 48%, 100% 35%);
    }

    100% {
        clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
    }
}